# Edit your .gitignore file to contain:
public/
resources/
.DS_Store
.hugo_build.lock
tmp/
tmp.log
*.log
content/
hugo-theme-itheme/
config.toml
.env
blogg.code-workspace
resources/
node_modules/
config.go
blogg.code-workspace